.container {
    max-width: 1000px;
    width: 96%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.block {
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    position: relative;
}

.block:hover {
    transform: scale3d(1.2,1.1,2);
}

.h4 {
    width: 132%;
    border-bottom: 2px solid rgb(183, 3, 3);
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h5 {
    color: gray;
    margin: 0;
}

.h6 {
    margin: 10px auto;
    line-height: 20px;
}

.h1 {
    margin: 10px auto;
}

.buttom {
    background-color: rgb(183, 3, 3);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.h4-2 {
    width: 134%;
    border-bottom: 2px solid rgb(164, 166, 7);
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttom-2 {
    background-color: rgb(164, 166, 7);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.h4-3 {
    width: 134%;
    border-bottom: 2px solid rgb(72, 103, 196);
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttom-3 {
    background-color: rgb(72, 103, 196);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.h4-4 {
    width: 134%;
    border-bottom: 2px solid rgb(11, 220, 11);
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttom-4 {
    background-color: rgb(11, 220, 11);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

